---
layout: promessa_base
---

<style>

p.dichiarazione {
        font-size: 20pt;
}

</style>

{% assign dichiarazione = page.issue.data.dichiarazione | replace: '""', '"' | replace: "''", "'" | xml_escape %}
{% capture tags %}
{% for tag in page.issue.labels %}
{% assign ignoretag = 1 %}
{% for goodtag in site.data.tags.tagmap %}
{% if tag == goodtag[0] %}
{% assign ignoretag=0 %}
{% endif %}
{% endfor %}
{% if ignoretag != 1 %}
{{tag}}{% if forloop.last != true %}|{% endif %}
{% endif %}
{% endfor %}
{% endcapture %}
<div class="container" role="main">
        <div class="row">
                <div class="panel panel-default">
                        <div class="panel panel-body">
                                <div class="col-md-2">
                                        {% if page.issue.data.unapromessaID != blank %}
                                        {% assign politician=site.data.unapromessa | where_exp: "pol","pol.unapromessaID == page.issue.data.unapromessaID" %}
                                        {% if politician.size > 0 %}
                                        {% assign politician=politician[0] %}
                                        <div class="list-group list-group-default">
                                                <a class="list-group-item" href="/politico/{{page.issue.data.unapromessaID | downcase }}">
                                                        <img src="{{politician.immagine}}" class="img-thumbnail img-responsive"></img>
                                                        <meta name="twitter:image:src" content="{{politician.immagine}}">
                                                </a>
                                                {% if politician.idItalia != blank %}
                                                <div class="list-group-item">
                                                        <small>
                                                                <a href="http://www.camera.it/leg17/29?tipoAttivita=attivita&tipoVisAtt=&tipoPersona=&idLegislatura=17&shadow_deputato={{politician.idItalia}}" target="_blank" alt="Attività svolte nel corso della XVII legislatura" title="Attività svolte nel corso della XVII legislatura">Attività parlamentari</a>
                                                        </small>
                                                </div>
                                                {% endif %}
                                                <div id="twittervalue" style="display: none;">
                                                        {% if politician.twitter != blank %}
                                                        @{{politician.twitter}}
                                                        {% endif %}
                                                </div>
                                        </div>
                                        {% endif %}
                                        {% endif %}
                                </div>
                                <div class="col-md-10">
                                        <div class="row">
                                                {% if page.issue.data.unapromessaID != blank %}
                                                <a href="/politico/{{page.issue.data.unapromessaID | downcase }}">
                                                        {% endif %}
                                                        <h2>{{page.issue.data.Nome}} ({{page.issue.data.data}})</h2>
                                                        {% if page.issue.data.unapromessaID != blank %}
                                                </a>
                                                {% endif %}
                                        </div>
                                        <div class="row"><p class="dichiarazione">{{dichiarazione}}</p></div>
                                </div>
                        </div>
                        <div class="panel panel-footer">
                                        <div class="list-group list-group-flush">
                                                <div class="list-group-item">
                                                        <div class="row">
                                                                <div class="col-md-2">Fonte:</div>
                                                                <div class="col-md-10">{{page.issue.data["Nome fonte"]}}</div>
                                                        </div>
                                                </div>
                                                {% if page.issue.data.urlfonte != blank %}
                                                <div class="list-group-item">
                                                        <div class="row">
                                                                <div class="col-md-2">Link Fonte:</div>
                                                                <div class="col-md-10"><a href="{{page.issue.data.urlfonte}}">{{page.issue.data.urlfonte}}</a></div>
                                                        </div>
                                                </div>
                                                {% endif %}
                                                <div class="list-group-item">
                                                        <div class="row">
                                                                <div class="col-md-2">Creato:</div>
                                                                <div class="col-md-10">{{page.issue.created_at | italianDate}}</div>
                                                        </div>
                                                </div>
                                                <div class="list-group-item">
                                                        <div class="row">
                                                                <div class="col-md-2">Aggiornato:</div>
                                                                <div class="col-md-10">{{page.issue.updated_at | italianDate}}</div>
                                                        </div>
                                                </div>
                                                <div class="list-group-item">
                                                        <div class="row">
                                                                <div class="col-md-2">Argomenti collegati:</div>
                                                                <div class="col-md-10">
                                                                        {% assign tagbtn = tags | split: "|" %}
                                                                        {% for btnraw in tagbtn %}
                                                                        {% assign btn = btnraw | strip %}
                                                                        {% if btn.size > 0 %}
                                                                        {% assign taglink = site.data.tags.tagmap[btn] %}
                                                                        {% if taglink != blank %}
                                                                        <a href="/{{taglink}}" class="btn btn-primary">
                                                                                {{btn}}
                                                                        </a>
                                                                        {% else %}
                                                                        <button class="btn btn-default">
                                                                                {{btn}}
                                                                        </button>
                                                                        {% endif %}
                                                                        {% endif %}
                                                                        {% endfor %}
                                                                </div>
                                                        </div>
                                                </div>
                                                {% if page.issue.data.correlate.size > 0 %}
                                                <div class="list-group-item">
                                                        <div class="row">
                                                                <div class="col-md-2">Promesse collegate:</div>
                                                                <div class="col-md-10">
                                                                        <small>
                                                                                <div class="list-group list-group-flush">
                                                                                        {% for corrnum in page.issue.data.correlate %}
                                                                                        {% assign corrissue = site.data.issuesjson | where_exp: "issue", "issue.number == corrnum" %}
                                                                                        {% assign corrtitle = corrissue[0].title %}
                                                                                        <a href="/promessa/{{corrnum}}" class="list-group-item list-group-item-primary" >&#xf0a9; {{corrtitle}}</a>
                                                                                        {% endfor %}
                                                                                </div>
                                                                        </small>
                                                                </div>
                                                        </div>
                                                </div>
                                                {% endif %}
                                                <div class="list-group-item">
                                                        <div class="row">
                                                                <div class="col-md-2">Link:</div>
                                                                <div class="col-md-10"><a href="{{page.issue.url}}">{{page.issue.url}}</a></div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>




{% include social-share.html %}

    <div class="disqus-comments">
      {% include disqus.html %}
    </div>

</div>

